html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
.header_nav {
  background: linear-gradient(90deg, #19e915 20%, rgba(0, 0, 0, 0.6) 60%);
  display: flex;
  justify-content: space-between;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}

.tittle {
  border-radius: 8px;
  margin: 25px;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

input {
  margin-bottom: 25px;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(206, 206, 206);
}

select {
  margin-bottom: 25px;
  padding: 10px;
  width: 220px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(206, 206, 206);
}

span {
  display: inline-block;
  width: 150px;
}

#form-box {
  color: #ff4057;
  width: 600px;
  margin: 25px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.9) 35%);  text-align: center;
  font-family: 'fancy',sans-serif;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button {
  background-color:#c51350;
  padding: 5px, 20px;
  text-align: center;
  line-height: 24px;
  width: 200px;
  border-radius: 6px;
  cursor: pointer;
  margin: auto;
  list-style: none;
  color: #fff;
  height: 40px;
  font-weight: 600;
  border: solid 1px #c51350;
}

.button:hover {
  background-color:rgb(253, 164, 3);
  border: solid 1px rgb(253, 164, 3);

}

.containerFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footNav {
  height: 75px;
}

.footerItem {
  color: rgb(226, 16, 16);
  text-decoration: none;
  margin-left: 10px;
}

footer {
  color: #ff4057;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 35%, rgba(255,255,255,0.9) 35%);  text-align: center;
  width: 100vw;
}

.container-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#fda403, #e8751a, #c51350, #8a1253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

form {
  border: rgb(222, 222, 222) solid 1px;
  border-radius: 8px;

  margin: 25px;
  padding: 15px;
}
